body         { font-family:Courier, serif; font-size:11pt} 

img, h3, hr, div { display:inline }

img           { top:90px; margin-right:20px; }
h3            { width:110px; margin-top:30px; }
hr            { width:630px; text-align:left }
div           { margin-top:10px; width:110px; height:40px; font-size:10pt}
p             { margin-bottom:10px; height:40px; }

div.Rahmen    { position absolute; margin:30px 0px 0px 0px; width:750px }
span.thomas   { margin:0px 0px; display:inline }

#thomas       { margin-top:5px; margin-left:215px; width:330px; height:20px; text-align:center  }
#pause        { width:580px; height:30px; text-align:center }
#h14001830    { height:120px; }
