body         { font-family:Courier, serif;} 

img, h3, hr, div { display:inline }

img           { top:90px; margin-right:20px }
h3            { width:130px; margin-top:30px; }
hr            { width:630px; text-align:left }
div           { margin-top:10px; width:130px; height:40px; font-size:11pt}
p             { margin-bottom:10px; height:40px; }

div.Rahmen    { position absolute; margin:10%; width:750px }
span.thomas   { margin:0px 20px; display:inline }

#thomas       { margin-top:5px; margin-left:235px; width:390px; height:20px; text-align:center  }
#pause        { width:600px; height:30px; text-align:center }
#h14001830    { height:120px; }
