H1 {
	
}
H2 {
	POSITION: relative; TOP: 0px
}
H3 {
	FONT-SIZE: 10pt
}
TD {
	POSITION: relative; TOP: 0px
}
TH {
	POSITION: relative; TOP: 0px
}
HR {
	POSITION: relative; TOP: -5px
}
TR {
	VERTICAL-ALIGN: top
}
TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; POSITION: relative
}
IMG {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
P {
	MARGIN-BOTTOM: -2px; WIDTH: 100%; orphans: 3; widows: 3
}
DIV {
	MARGIN-BOTTOM: -2px; WIDTH: 100%; orphans: 3; widows: 3
}
UL {
	PADDING-RIGHT: 10%
}
SUP {
	FONT-SIZE: small; VERTICAL-ALIGN: top
}
BODY.corps {
	FONT-SIZE: 10pt; MARGIN: 0%
}
TABLE.kopf {
	FONT-SIZE: small; WIDTH: 100%
}
.klinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 40%; PADDING-TOP: 0px
}
.kmitte {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 40%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.krechts {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 20%; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TABLE.inhalt {
	MARGIN-TOP: 1.5cm; LEFT: 0%; WIDTH: 100%; POSITION: relative
}
.links {
	WIDTH: 15%; TEXT-ALIGN: right
}
.rechts {
	WIDTH: 85%; TEXT-ALIGN: left
}
.punkt {
	FONT-WEIGHT: bold
}
.rot {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: -2px; COLOR: rgb(255,0,0)
}
.rotscreen {
	FONT-WEIGHT: bold; FONT-SIZE: smaller; MARGIN-BOTTOM: -2px; COLOR: rgb(255,0,0)
}
.liste {
	MARGIN-BOTTOM: 15px
}
.mini {
	FONT-WEIGHT: normal; FONT-SIZE: small
}
.schmuck {
	FONT-SIZE: x-small; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.Autor {
	FONT-SIZE: x-small
}
#bella {
	
}
#boden {
	BOTTOM: 5%; POSITION: absolute
}
.i016X016 {
	WIDTH: 8px; HEIGHT: 8px
}
.i020X016 {
	WIDTH: 10px; HEIGHT: 8px
}
.i024X022 {
	WIDTH: 12px; HEIGHT: 11px
}
.i028X028 {
	WIDTH: 14px; HEIGHT: 14px
}
.i036X016 {
	WIDTH: 18px; HEIGHT: 8px
}
.i036X022 {
	WIDTH: 18px; HEIGHT: 11px
}
.i048X038 {
	WIDTH: 24px; HEIGHT: 19px
}
.i048X062 {
	WIDTH: 24px; HEIGHT: 31px
}
.i076X052 {
	WIDTH: 38px; HEIGHT: 26px
}
.i084X084 {
	WIDTH: 38px; HEIGHT: 38px
}
.i087X121 {
	WIDTH: 44px; HEIGHT: 60px
}
.i096X022 {
	WIDTH: 48px; HEIGHT: 11px
}
.i1024X768 {
	WIDTH: 512px; HEIGHT: 384px
}
.i134X022 {
	WIDTH: 66px; HEIGHT: 11px
}
.i148X016 {
	WIDTH: 74px; HEIGHT: 8px
}
.i174X240 {
	WIDTH: 87px; HEIGHT: 120px
}
.i188X174 {
	WIDTH: 94px; HEIGHT: 87px
}
.i194X026 {
	WIDTH: 87px; HEIGHT: 13px
}
.i207X337 {
	WIDTH: 148px; HEIGHT: 168px
}
.i208X160 {
	WIDTH: 104px; HEIGHT: 80px
}
.i256X016 {
	WIDTH: 128px; HEIGHT: 8px
}
.i286X264 {
	WIDTH: 143px; HEIGHT: 132px
}
.i346X028 {
	WIDTH: 173px; HEIGHT: 8px
}
.i384X288 {
	WIDTH: 192px; HEIGHT: 144px
}
.i393X404 {
	WIDTH: 196px; HEIGHT: 202px
}
.i418X134 {
	WIDTH: 208px; HEIGHT: 77px
}
.i424X272 {
	WIDTH: 212px; HEIGHT: 136px
}
.i440X214 {
	WIDTH: 220px; HEIGHT: 107px
}
.i468X090 {
	WIDTH: 234px; HEIGHT: 45px
}
.i472X424 {
	WIDTH: 236px; HEIGHT: 212px
}
.i518X036 {
	WIDTH: 259px; HEIGHT: 18px
}
.i518X432 {
	WIDTH: 259px; HEIGHT: 216px
}
