H1 {
	
}
H2 {
	POSITION: relative; TOP: 17px
}
TD {
	POSITION: relative; TOP: 0px
}
TH {
	POSITION: relative; TOP: 0px
}
HR {
	POSITION: relative; TOP: -5px
}
TR {
	VERTICAL-ALIGN: top
}
TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; POSITION: relative
}
IMG {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
P {
	MARGIN-BOTTOM: -2px; WIDTH: 90%; orphans: 3; widows: 3
}
DIV {
	MARGIN-BOTTOM: -2px; WIDTH: 90%; orphans: 3; widows: 3
}
UL {
	PADDING-RIGHT: 10%
}
SUP {
	FONT-SIZE: small; VERTICAL-ALIGN: top
}
BODY.corps {
	MARGIN: 4%; font-family:serif
}
TABLE.kopf {
	FONT-SIZE: small; WIDTH: 100%
}
.klinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 40%; PADDING-TOP: 0px
}
.kmitte {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 40%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.krechts {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 20%; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TABLE.inhalt {
	MARGIN-TOP: 1.5cm; LEFT: 6%; WIDTH: 90%; POSITION: relative
}
.links {
	WIDTH: 28%; TEXT-ALIGN: right
}
.mitte {
	WIDTH: 60%; TEXT-ALIGN: center
}
.rechts {
	TEXT-ALIGN: left
}
.punkt {
	FONT-WEIGHT: bold
}
.rot {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: -2px; COLOR: rgb(255,0,0)
}
.rotscreen {
	FONT-WEIGHT: bold; FONT-SIZE: smaller; MARGIN-BOTTOM: -2px; COLOR: rgb(255,0,0)
}
.liste {
	MARGIN-BOTTOM: 15px
}
.mini {
	FONT-WEIGHT: normal; FONT-SIZE: small
}
.schmuck {
	FONT-SIZE: x-small; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.Autor {
	FONT-SIZE: x-small
}
#bella {
	
}
#boden {
	BOTTOM: 5%; POSITION: absolute
}
