      h1                {  } 
      h2                { position:relative; top:0px; } 
      h3                { font-size:10pt; } 
      td                { position:relative; top:0px; } 
      th                { position:relative; top:0px; } 
      hr                { position:relative; top:-5px; } 
      tr                { vertical-align:top;  } 
      td                { position:relative; padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; }
      img               { border:0px solid; margin:0 3 0 3; }
      p,div             { orphans:3; widows:3; margin-bottom:-2px; width:100%; }
      ul                { padding-right:10%; }
      sup               { font-size:small; vertical-align:top; }

 body.corps             { margin:0%; font-size:10pt; }
table.kopf              { width:100%; font-size:small;}
     .klinks            { width:40%; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; }
     .kmitte            { width:40%; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; text-align:left; }
     .krechts           { width:20%; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; text-align:right; }

table.inhalt            { position:relative; left:0%; width:100%; margin-top:1.5cm; }
     .links             { width:15%; text-align:right; }
     .rechts            { width:85%; text-align:left; }

     .spacer            { width:1px; height:1px}
     .punkt             { font-weight:bold;}
     .rot               { font-weight:bold; color:rgb(255, 0, 0); margin-bottom:-2px;}
     .rotscreen         { font-weight:bold; color:rgb(255, 0, 0); margin-bottom:-2px; font-size:smaller; }
     .liste             { margin-bottom:15px; }
     .mini              { font-size:small; font-weight:normal; }
     .schmuck           { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:x-small;}

     .Autor             { font-size:x-small;}


      #bella             {  }
      #boden             { position:absolute; bottom:5%; }



     .i016X016           { width:8px; height:8px; }
     .i020X016           { width:10px; height:8px; }
     .i024X022           { width:12px; height:11px; }
     .i028X028           { width:14px; height:14px; }
     .i036X016           { width:18px; height:8px; }
     .i036X022           { width:18px; height:11px; }
     .i048X038           { width:24px; height:19px; }
     .i048X062           { width:24px; height:31px; }
     .i076X052           { width:38px; height:26px; }
     .i084X084           { width:38px; height:38px; }
     .i087X121           { width:44px; height:60px; }
     .i092X062           { width:46px; height:31px; }
     .i096X022           { width:48px; height:11px; }
     .i1024X768          { width:512px; height:384px; }
     .i120X090           { width:60px; height:45px; }
     .i134X032           { width:66px; height:16px; }
     .i148X016           { width:74px; height:8px; }
     .i174X240           { width:87px; height:120px; }
     .i188X184           { width:94px; height:92px; }
     .i194X026           { width:87px; height:13px; }
     .i207X337           { width:148px; height:168px; }
     .i208X160           { width:104px; height:80px; }
     .i242X218           { width:121px; height:109px; }
     .i256X016           { width:128px; height:8px; }
     .i286X264           { width:143px; height:132px; }
     .i346X028           { width:173px; height:8px; }
     .i320X214           { width:160px; height:107px; }
     .i320X240           { width:160px; height:120px; }
     .i384X288           { width:192px; height:144px; }
     .i393X404           { width:196px; height:202px; }
     .i418X134           { width:208px; height:77px; }
     .i424X272           { width:212px; height:136px; }
     .i440X214           { width:220px; height:107px; }
     .i468X090           { width:234px; height:45px; }
     .i472X424           { width:236px; height:212px; }
     .i518X036           { width:259px; height:18px; }
     .i518X432           { width:259px; height:216px; }




























