      h1                {  } 
      h2                { position:relative; top:17px; } 
      h3                { font-size:12pt; } 
      td                { position:relative; top:0px;} 
      th                { position:relative; top:0px;} 
      hr                { position:relative; top:-5px;  } 
      tr                { vertical-align:top;} 
      td                { position:relative; padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; }
      img               { border:0px solid; margin:0 3 0 3; }
      p,div             { orphans:3; widows:3; margin-bottom:-2px; width:90%; }
      ul                { padding-right:10% }
      sup               { font-size:small; vertical-align:top; }
 /*     iframe            { border-style:dotted; width:340; height:170;}*/

 body.corps             { margin:4%; /*background-color:#EFEFEF; */font-family:serif; }
table.kopf              { width:100%; font-size:small; }
tr.kopf                 { vertical-align:bottom;  }
     .klinks            { width:40%; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px;/* border:1px dashed gray; */}
     .kmitte            { width:40%; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; text-align:left;/* border:1px dashed gray; */}
     .krechts           { width:20%; padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:0px; text-align:right;/* border:1px dashed gray; */ }

table.inhalt            { position:relative; left:6%; width:90%; margin-top:1.5cm; /* border:1px dashed gray; */}
     .links             { width:28%; text-align:right; }
     .mitte             { width:60%; text-align:center; border:1px dashed gray;  }
     .rechts            { text-align:left;/* border:1px dashed gray; */}

     .spacer            { width:1px; height:300px}
     .punkt             { font-weight:bold; list-style:none;}
     .rot               { font-weight:bold; color:rgb(255, 0, 0); margin-bottom:-2px;}
     .rotscreen         { color:rgb(255, 0, 0); margin-bottom:-2px; font-size:smaller; }
     .liste             { margin-bottom:15px; }
     .mini              { font-size:small; font-weight:normal; }
     .schmuck           { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:x-small;}

     .Autor             { font-size:x-small;}


      h3.titel          { font-size:14pt; margin-bottom:-10px } 
      ul.between        { padding-right:10%; margin-top:5px; margin-bottom:5px; }
      li.absatzschmal   { margin-top:1%; margin-right:15%; margin-bottom:1%; }
      li.schmal         { margin-right:15%; margin-bottom:1%;  }
      #bella            {  }
      #boden            { position:absolute; bottom:5%; }
      #ancre            { list-style:circle; color:#840084 }
      #lien             { list-style:disc; color:#840084 }
