 td,th,table,tr     {text-align: center;border-style:solid; border-width:1px;  font-size:10pt;}
 td.cours           {background-color:#84b0f2 }
 td.stage           {background-color:#df47cf }
 td.spacer          {font-size:xx-small}
 td.pause           {background-color:#DDDDDD }
